<%== @document.header %>
  <table class="table" style="background-color: #cacaca; border: 1px solid black;">
    <thead>
      <tr>
        <th style="font-size: 20px;">CONTROL DE CAMBIOS</th>
      </tr>
    </thead>
  </table>
  <table id="customers">
    <tr>
      <th style="width: 20%;">Version</th>
      <th>Motivo</th>
      <th style="width: 20%">Fecha</th>
    </tr>

    <% Document.where(name: @document.name).where("date(create_date) >= ?", @document.create_date).each do |document| %>
      <tr>
        <td style="text-align: center;"><%= document.version %></td>
        <td style="text-align: center;"><%= document.change_description %></td>
        <td style="text-align: center;"><%= document.create_date %></td>
      </tr>
    <% end -%>
  </table>
<br>
   <% @document.created_fields.each do |field|%>

        <%== field.content%>

      <%end%>


    <table class="table" style="margin-top: 40px; ">
        <thead class="text-center">
          <tr>
            <th>Creado por </th>
            <th>
              <% if @document.state_review == true %> 
                Revisado
                <% else %>
                Pendiente de Revisar
              <% end -%>
            </th>
            <th>
              <% if @document.state_aprove == true %> 
                Aprobado
                <% else %>
                Pendiente de Aprobar
              <% end -%>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center" style="width: 33% background-color: orange !important;">
              <strong><%= @document.user.first_name %>  <%= @document.user.first_last_name %></strong>
              <p><%= get_date(@document.create_date) %></p>
            </td>

            <td class="text-center" style="width: 33%">
              <strong><%= @document.user_review.first_name %>  <%= @document.user_review.first_last_name %></strong>
              <% if @document.state_review == true  %>
                <p><%= get_date(@document.review_date) %></p>
              <% else %>
                <p>Pendiente de Revisar</p>
              <% end -%>
            </td>

            <td class="text-center" style="width: 33%">
              <strong><%= @document.user_aprove.first_name %>  <%= @document.user_aprove.first_last_name %></strong>
              <% if @document.state_aprove == true %>
                <p><%= get_date(@document.aprove_date) %></p>
              <% else %>
                <p>Pendiente de Aprobacion</p>
              <% end -%>
            </td>

          </tr>
        </tbody>
      </table>

<style type="text/css" media="screen">
 .table{
 	width: 100%;
 	text-align: center;
 }
  table td{
    border: 1px solid #cacaca;
  }

  .thead-body{
      border:  1px solid #cacaca;
  }
</style>

<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid black;
  padding: 8px;
}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #cacaca;
  color: black;
  font-size: 20px;
}
</style>
</head>
<body>

