<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">

        <div class="card-body">
          <h4 class="box-title">Cargos </h4>
        </div>

        <div class="card-body">
          <div class="table-stats order-table ov-h">
            <table class="table table_form ">

              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Processo</th>
                  <th colspan="3">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <% @positions.each do |position| %>
                  <tr>
                    <td><%= position.name %></td>
                    <td><%= position.description %></td>
                    <td><%= position.proces.name if position.proces  %></td>

                    <td>

                        <%= link_to edit_position_path(position), data: {toggle: "tooltip", placement: "bottom" }, remote: true, title: "Editar", class: "btn" do %>
                          <i class="fas fa-pencil-alt"></i>
                        <% end -%>

                        <a href="/positions/<%= position.id %>" class="btn" data-method="delete" data-toggle="tooltip" data-placement="right" title="Eliminar Documento" data-confirm="Estas Seguro?">
                          <i class="fas fa-trash-alt"></i>
                        </a>

                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 
        </div>

        <div class="col-md-12 modal-footer">
          <%= link_to 'Nuevo Cargo', new_position_path, class: "btn btn-success ", remote: true %>
        </div>
   

      </div> 
    </div>  
  </div>
</div>


<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>