
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4" style="margin-top: 40px;">

      <div class="card">
        <div class="card-header">
          <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/430/WhatsApp_Image_2019-04-05_at_11.55.04_AM.jpeg" alt="" class="img-bee"><b class="be">Bee</b><b class="tol">Tools</b>
        </div>
        <div class="card-body" style="border: 1px solid #f1f1f1;">
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="col-md-12 no-padding">
                <label>Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form form-control" %>
              </div>

              <br>

              <div class="col-md-12 no-padding">
                <label>Contraseña</label>
                <%= f.password_field :password, autocomplete: "current-password", :placeholder => "Password", class: "form form-control" %>
              </div>

              <br>

              <div class="col-md-12 no-padding">
                <% if devise_mapping.rememberable? %>
                    <%= f.check_box :remember_me %>
                    <%= f.label "Recordarme"%>
                <% end %>
              </div>

              <br>

              <div class="col-md-12 text-center">              
                <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                  ¿No tienes una cuenta? <br> <%= link_to "Registrarme", new_registration_path(resource_name) %><br />
                <% end %>
              </div>

              <br>

              <div class="col-md-12 modal-footer">
                <%= f.submit "Ingresar", class: "btn btn-outline-warning" %>
              </div>

           <% end -%>
        </div>
      </div>

    </div>
    <!--

    <div class="card col-md-6">
      <div class="card-body">

      <h1>Administre su cuenta de negocios</h1><br>
      <p>Donec dictum nisl nec mi lacinia, sed maximus tellus eleifend. Proin molestie cursus sapien ac eleifend.</p>

      <img src="https://demo.w3layouts.com/demos_new/template_demo/23-02-2019/business_login_form-demo_Free/123711373/web/images/image.jpg" alt="">

      </div>
    </div>

    <div class="card col-md-6" style="background-color: #f5f5f5;">
      <div class="card-body">
        <h1>Ingrese a su cuenta</h1><br>
        <p>Ingrese sus datos para iniciar sesión.</p><br>

        <div class="col-md-12 no-padding">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="col-md-12 no-padding">
              <label>Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form form-control" %>
            </div>

            <br>

            <div class="col-md-12 no-padding">
              <label>Contraseña</label>
              <%= f.password_field :password, autocomplete: "current-password", :placeholder => "Password", class: "form form-control" %>
            </div>

            <br>

            <div class="col-md-12 no-padding">
              <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                  <%= f.label "Recordarme"%>
              <% end %>
            </div>

            <br>

            <div class="col-md-12 text-center">
              Al hacer clic en iniciar sesión aceptas nuestros, <a href="" title="" data-toggle="modal" data-target="#exampleModalLong">Términos y condiciones.</a>
              <br><br>

              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                ¿No tienes una cuenta? <%= link_to "Registrarme", new_registration_path(resource_name) %><br />
              <% end %>
            </div>

            <br>

            <div class="col-md-12 text-center no-padding">
              <%= f.submit "Ingresar", class: "btn btn-outline-success" %>
            </div>

          <% end %>
        </div>

      </div>
    </div>
    -->
  </div>
</div>



<style type="text/css" media="screen">

  .img-bee{
    border-radius: 50%;
    height: 59px;
  }

  .be{
    color: #f7ac00;
    margin-left: 10px;
    font-size: 24px;
  }

  .tol{
    font-size: 24px;
  }

</style>