<p id="notice"><%= notice %></p>

<h1>Process Maps</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Admin user</th>
      <th>User</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_maps.each do |process_map| %>
      <tr>
        <td><%= process_map.file %></td>
        <td><%= process_map.admin_user %></td>
        <td><%= process_map.user_id %></td>
        <td><%= process_map.version %></td>
        <td><%= link_to 'Show', process_map %></td>
        <td><%= link_to 'Edit', edit_process_map_path(process_map) %></td>
        <td><%= link_to 'Destroy', process_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process Map', new_process_map_path %>
