<p id="notice"><%= notice %></p>


<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">

        <div class="card-body">
          <h4 class="box-title">Mapa de Processos </h4>
        </div>

        <div class="card-body">
          <div class="table-stats order-table ov-h">
            <table class="table table_form ">

              <thead>
                <tr>
                  <th class="text-center">Archivo</th>
                  <th>Version</th>
                  <th colspan="3">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <% @process_maps.each do |process_map| %>
                  <tr>
                    <td class="text-center">
                      <% if process_map.file.present? %>
                        <%= link_to "Archivo", process_map.file.url(), class: "btn btn-dark", target: "_blank"  %>
                      <% end -%>
                    </td>
                    <td><%= process_map.version %></td>
                    <td>
                        <%= link_to process_map, class: "btn", data: {toggle: "tooltip", placement: "bottom" }, title: "Ver Mapa" do %>
                          <i class="fas fa-eye"></i>
                        <% end -%>

                        <%= link_to edit_process_map_path(process_map), data: {toggle: "tooltip", placement: "bottom" }, remote: true, title: "Editar", class: "btn" do %>
                          <i class="fas fa-pencil-alt"></i>
                        <% end -%>

                        <a href="/process_maps/<%= process_map.id %>" class="btn" data-method="delete" data-toggle="tooltip" data-placement="right" title="Eliminar Mapa" data-confirm="Estas Seguro?">
                          <i class="fas fa-trash-alt"></i>
                        </a>

                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 
        </div>

        <div class="col-md-12 modal-footer">
          <%= link_to 'Nuevo Mapa de Procceso', new_process_map_path, class: "btn btn-success ", remote:true %>
        </div>
   

      </div> 
    </div>  
  </div>
</div>


<script>
    
 $(document).on( "change", '#img2', function () {
    readURL(this);
 });

  function readURL(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        
        jQuery(document).ready(function($){
          $('#blah1').attr('src', e.target.result);
        });
     
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

</script>


<style type="text/css" media="screen">
  #blah1{
    margin-top: 20px;
    height: 180px;
    border-radius: 50%;
  }
</style>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>