<div class="row">
  <div class="col-xl-8">

    <div class="card">
      <div class="card-body">
        <legend>Crear Nuevo Usuario</legend>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <%= form_tag create_user_path, method: :post, remote: true, class: "needs-validation", :novalidate => true do %>
          <%# render "users/shared/error_messages", resource: resource %>

          <div class="row">
              <div class="col-md-4">
                  <%= label_tag "Primer Nombre" %><br />
                  <%= text_field_tag :first_name, nil, class: "form form-control", :placeholder => "Nombre" %>
              </div>

              <div class="col-md-4">
                  <%= label_tag "Segundo Nombre" %><br />
                  <%= text_field_tag :second_name, nil, class: "form form-control", :placeholder => "Segundo Nombre" %>                
              </div>

              <div class="col-md-4">
                  <%= label_tag "Primer Apellido" %><br />
                  <%= text_field_tag :first_last_name, nil, class: "form form-control", :placeholder => "Primer Apellido" %>                
              </div>
          </div>

          <br>

          <div class="row">
              <div class="col-md-4">
                  <%= label_tag "Segundo Apellido" %><br />
                  <%= text_field_tag :second_last_name, nil, class: "form form-control", :placeholder => "Segundo Apellido" %>
              </div>

              <div class="col-md-4">
                  <%= label_tag "Tipo de Documento" %><br />
                  <%= select_tag 'document_type', options_for_select(select_documento),{:class => 'form form-control'}%>                 
              </div>

              <div class="col-md-4">
                  <%= label_tag "Numero de Documento" %><br />
                  <%= text_field_tag :document_number, nil, class: "form form-control", :placeholder => "Numero de Documento" %>                
              </div>
          </div>

          <br>

          <div class="row">

            <div class="col-md-6">
              <%= label_tag "Fecha de Cumpleaños" %><br />
              <%= date_field_tag :birthday, nil, class: "form form-control", :placeholder => "Fecha de Cumpleaños" %>  
            </div>

            <div class="col-md-6">
              <%= label_tag "Cargo" %><br>
              <%= select_tag 'position_id', options_for_select(get_cargo.collect{ |u| ["#{u.name}", u.id] },{}), {:multiple => false, class: 'form-control', include_blank: false }%>
            </div>

            <div class="col-md-6">
              <%= label_tag :email %><br>
              <%= email_field_tag :email, nil, class: "form form-control", :placeholder => "Email" %>
            </div>

          </div>

          <br>

          <div class="col-md-12 no-padding">
            <hr>
          </div>

          <div class="row">
            <div class="col-md-6">
                <%= label_tag "Contraseña" %>
                <%= password_field_tag :password, nil, class: "form form-control", :placeholder => "Contraseña" %>
            </div>

            <div class="col-md-6">
                <%= label_tag "Confirmar Contraseña" %>
                <%= password_field_tag :password_confirmation, nil, class: "form form-control", :placeholder => "Confirmar Contraseña" %>
            </div>
          </div>

      </div>
    </div>


  </div>

    <div class="col-xl-4">

      <div class="card">
        <div class="card-body">

          <div class="col-md-12 text-center">
           <img  class="user-avatar rounded-circle" id="edit-avatar" src="https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg" alt="" />
             <br><br>
             <%= file_field_tag :avatar, class: "form form-control", id: "img1" %>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          
          <div class="col-md-12 no-padding-left">
            <p id="email-user"><i class="fas fa-user"></i> <%= current_user.email %></p>
            <p id="nombre-user"><i class="fas fa-user"></i> <%= current_user.first_name %> - <%= current_user.second_name %></p>
            <p id="apellido"><i class="fas fa-user"></i> <%= current_user.first_last_name %> -  <%= current_user.second_last_name %> </p>
            <p id="document-type"><i class="far fa-address-book"></i> <%= current_user.document_type %>  </p>
            <p id="document-numero"><i class="far fa-address-book"></i> <%= current_user.document_number %>  </p>
            <p id="date"><i class="fas fa-birthday-cake"></i> <%= get_date(current_user.birthday) %> </p>
          </div>


          <div class="col-md-12 modal-footer">
            <%= submit_tag "Guardar", class: "btn btn-warning" %>
          	<%= link_to "Volver", documents_path, class: "btn btn-light" %>
          </div>

        </div>
      </div>

    </div>

  <% end %>
</div>

<style type="text/css" media="screen">

  #edit-avatar{
    height: 117px;
  }

</style>

