<div class="modal fade bd-example-modal-lg" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <% if action_name == "new" %>
            Nuevo Tipo de Documento
            <% else %>
            Editar Tipo de Documento 
          <% end -%>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
      <div class="modal-body">
        <%= form_with(model: document_type, local: true) do |form| %>
          <% if document_type.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(document_type.errors.count, "error") %> prohibited this document_type from being saved:</h2>

              <ul>
              <% document_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="card col-md-6 card-drop">
              <div class="card-body">
                <div class="col-md-12 no-padding">
                    <%= form.label "Nombre" %>
                    <%= form.text_field :name, class: "form form-control" %>
                </div>
                <br>

                <div class="col-md-12 no-padding">
                  <%= form.label "Descripcion" %>
                  <%= form.text_area :description, class: "form form-control", :rows => 9  %>
                </div>

                



                <br>

                <select class="form form-control" id="sle" multiple="multiple" name="document_type[field_ids][]" style="display: none;">
                  <option value="">Campos</option>
                </select>
          
                <%# form.select 'field_ids', get_fields.map { |u| [u.name, u.id] }, {:prompt => 'subespecialidades'},{:class => 'form form-control', multiple: true, style: "display" }%>


                <div class="card col-md-12">
                  <div class="cord-body parent_left" ondrop="drop(event)" ondragover="allowDrop(event)"  style="border: 1px solid red; min-height: 100px;" >

                  <% if action_name == "edit" %>
                      <% @document_type.field.order(id: :desc).each do |rela| %>
                        <div class="card" draggable="true" ondragstart="drag(event)" id="drag<%= rela.id %>">
                          <div class="card-body">
                              <div class="col-md-12 no-padding">
                                <label><%= rela.name %></label>
                                <% if rela.field_type == "Texto" %>
                                  <input type="text" name="" class="form form-control" placeholder="Campo de Texto">
                                  <% else %>

                                  <select class="form form-control">
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                  </select>

                                <% end -%>
                              </div>
                          </div>
                        </div>
                      <% end -%>
                  <% end %>
                  </div>
                </div>

              </div>
            </div>

            <div class="card col-md-6 card-drop">
              <div class="card-body">
                <h5 align="center">Campos</h5>
                <br>

                <div class="col-md-12 no-padding parent_right" ondrop="drop(event)" ondragover="allowDrop(event)" style="border: 1px solid red; min-height: 100px;">

                    <% @fiels.each do |campo| %>
                      <div class="card" draggable="true" ondragstart="drag(event)" id="drag<%= campo.id %>">
                        <div class="card-body">
                            <div class="col-md-12 no-padding">
                              <label><%= campo.name %></label>
                              <% if campo.field_type == "Texto" %>
                                <input type="text" name="" class="form form-control" placeholder="Campo de Texto">
                                <% else %>

                                <select class="form form-control">
                                  <option value="">Campos</option>
                                  <option value="">Campos</option>
                                  <option value="">Campos</option>
                                  <option value="">Campos</option>
                                </select>

                              <% end -%>
                            </div>
                        </div>
                      </div>

                    <% end -%> 
                </div>

              </div>
            </div>


          </div>

        <div class="col-md-12 modal-footer">
          <%= form.submit "Guardar", class: "btn btn-success" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>

