
        <%= form_with(model: document_type, local: true) do |form| %>
          <% if document_type.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(document_type.errors.count, "error") %> prohibited this document_type from being saved:</h2>

              <ul>
              <% document_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

        <div class="row">
          <div class="col-md-12">
            <div class="card card-drop">
              <div class="card-body">
                <h3>
                  <% if action_name == "new" %>
                    Nuevo Tipo de Documento
                    <% else %>
                    Editar Tipo de Documento
                  <% end -%>
                </h3>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-drop">
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <%= form.label "Nombre" %>
                        <%= form.text_field :name, class: "form form-control" %>
                    </div>

                    <div class="col-md-6 ">
                      <%= form.label "Prefijo" %>
                      <%= form.text_field :prefix, class: "form form-control" %>
                    </div>
                </div>
                <br>

                <div class="col-md-12 no-padding">
                  <%= form.label "Descripcion" %>
                  <%= form.text_area :description, class: "form form-control", :rows => 5  %>
                </div>

                



                <br>

                <select class="form form-control" id="sle" multiple="multiple" name="document_type[field_ids][]" style="display: none;">
                  
                </select>
          
                <%= form.select 'field_ids', get_fields.map { |u| [u.name, u.id] }, {:prompt => 'subespecialidades'},{:class => 'form form-control', multiple: true, id: "selec_edit", style: "display: none" }%>


                <div class="card col-md-12">
                  <div class="cord-body parent_left" id ="left" ondrop="drop(event)" ondragover="allowDrop(event)"  style="padding: 10px;min-height: 100px;" >

                  <% if action_name == "edit" %>
                      <% @document_type.field.order(id: :desc).each do |rela| %>
                        <div class="card" draggable="true" ondragstart="drag(event)" id="drag<%= rela.id %>">
                          <div class="card-body">
                              <div class="col-md-12 no-padding">
                                <label><%= rela.name %></label>
                                <% if rela.field_type == "Texto" %>
                                  <input type="text" name="" class="form form-control" placeholder="Campo de Texto">
                                  <% else %>

                                  <select class="form form-control">
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                  </select>

                                <% end -%>
                              </div>
                          </div>
                        </div>
                      <% end -%>
                  <% end %>
                  </div>
                </div>

              </div>
            </div>
          </div>
            <div class="col-md-6">
              <div class="card card-drop">
                <div class="card-body">
                  <h5 align="center">Campos</h5>
                  <br>

                  <div class="col-md-12 no-padding parent_right" id ="right" ondrop="drop(event)" ondragover="allowDrop(event)" style="    padding: 10px !important; min-height: 100px;">

                      <% @fiels.each do |campo| %>
                        <div class="card" draggable="true" ondragstart="drag(event)" id="drag<%= campo.id %>">
                          <div class="card-body">
                              <div class="col-md-12 no-padding">
                                <label><%= campo.name %></label>
                                <% if campo.field_type == "Texto" %>
                                  <input type="text" name="" class="form form-control" placeholder="Campo de Texto">
                                  <% else %>

                                  <select class="form form-control">
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                    <option value="">Campos</option>
                                  </select>

                                <% end -%>
                              </div>
                          </div>
                        </div>

                      <% end -%> 
                  </div>

                </div>
              </div>
            </div>

          </div>

          <div class="card card-drop col-md-12">
            <div class="card-body">
              <div class="col-md-12 text-right">
                <%= form.submit "Guardar", class: "btn btn-success" %>
                <%= link_to "Volver", document_types_path, class: "btn btn-light" %>
              </div>
            </div>
          </div>
      <% end %>

<style type="text/css" media="screen">
  .card-drop{
    -webkit-box-shadow: none !important;
    box-shadow: initial !important;
  }

  #div1, #div2 {
  height: 400px;
  border: 1px solid black;
}
</style>

<script>


function allowDrop(ev) {
  ev.preventDefault();

  jQuery(document).ready(function($) {

  });
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
  console.log(ev.target.id);
}

var items = [];
var a =  1;

function drop(ev) {
 
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
  console.log(ev.dataTransfer.getData("text")); // son los valores que arrastra
 

  
  


  var valor = data.replace("drag", "")
  console.log(valor);
  jQuery(document).ready(function($) {

  let parent = $("#"+data).parent();
  console.log(parent.attr('class'));

  console.log('afdsasdasdafdsadsf')
    //$(document).on( "change", '#selec_edit', function () {
      //var value = $(this).val()
   if  (parent.attr('id') == "left"   )
   { 
    console.log("left");
    items.push(data); 
    $('#sle').append('<option value="' + valor + '" selected>1</option>')
   }
   else
   {
    console.log("right");
        $('#sle [value="'+ valor+ '"]').remove();
        $('#selec_edit [value="'+ valor+ '"]').remove();
      
   }
     
console.log(items);
    //});
    //



  });


}





</script>