
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-3 no-padding-left">
              <h3>
                <% if action_name == "new" %>
                  Nuevo Documento
                  <% else %>
                  Editar Documento
                <% end -%>
              </h3>
          </div>
          <br>
                          <%= tinymce_assets %>
          <%= form_with(model: document, local: true, :html => {class: "needs-validation", :novalidate => true}) do |form| %>
            <% if document.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

                <ul>
                <% document.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
            <% if !get_review.exists? %>

              <div class="col-md-12">
                <%= form.label "Nombre" %><br>
                 <%= form.text_field :name, class: "form form-control", id: "validationCustom01", :required => true %>
                  <div class="invalid-feedback">
                      Requerido!
                  </div>
                 <br>
              </div>
              <div class="col-md-4">
                <%= form.label "Procceso" %><br>
                <%= form.select 'proceso_id', get_procesos.map { |u| [u.name, u.id] }, {:prompt => 'Procceso'},{:class => 'form form-control', id: "validationCustom01", :required => true}%>
                <div class="invalid-feedback">
                    Requerido!
                </div>
              </div>

              <div class="col-md-4">
                <%= form.label "Tipo de Documento" %><br>
                  <%= form.select 'document_type_id', get_document_type.map { |u| [u.name, u.id] }, {:prompt => 'Tipo de Documento'},{:class => 'form form-control', id: "validationCustom01", :required => true}%>
                  <div class="invalid-feedback">
                      Requerido!
                  </div>
              </div>

              <div class="col-md-4">
                <%= form.label "Fecha de Creacion" %><br>
                  <%= form.date_field :create_date, class: "form form-control", id: "validationCustom01", :required => true %>
                  <div class="invalid-feedback">
                      Requerido!
                  </div>
              </div>
              <br><br><br><br> 
              <div class="col-md-4">
                <%= form.label "Revisa" %><br>
                <%= form.select 'user_review_id', get_user.map { |u| [u.first_name? ? u.first_name : u.email, u.id] }, {:prompt => 'Revisa'},{:class => 'form form-control', id: "validationCustom01", :required => true}%>
                <div class="invalid-feedback">
                    Requerido!
                </div>
              </div>

              <div class="col-md-4">
                <%= form.label "Aprueba" %><br>
                <%= form.select 'user_aprove_id', get_user.map { |u| [u.first_name? ? u.first_name : u.email, u.id] }, {:prompt => 'Aprueba'},{:class => 'form form-control', id: "validationCustom01", :required => true}%>
                <div class="invalid-feedback">
                    Requerido!
                </div>
              </div>


              <div class="col-md-4">
                <%= form.label "Version" %><br>
                  <% if action_name == "new" %>
            <%= form.number_field :version, :value => 1,class: "form form-control" %>
             <% else -%> 
             <%= form.number_field :version, :value => @document.version ,class: "form form-control" %>

             <% end -%>
              </div>





             
            </div>
            <br>
            <% if action_name == "new" %>
              <div class="row">

                <div class="col-md-4">
                  <%= form.label "Tipo de Creación" ,style: "display:inline-block"%>
                    <%= form.select 'document_source', options_for_select(select_document_source), {},{:class => 'form form-control document_source'}%>
                </div>

                <div class="col-md-4 form-import" style="display: none;">
                  <label>Importar</label>
                  <%= form.file_field :document_file, class: "form form-control"  %>
                </div>

              </div>
            <% end -%>
            <br>
            <% if action_name == "edit"  && @document.document_source != "Existente" %>
                  <% @document.document_type.field.order(id: :desc).each do |docu| %>
                    <div class="col-md-12 no-padding">
                      <label><%= docu.name %></label>
                      <% if docu.field_type == "Texto"%>
                        <% if CreatedField.where(document_id: @document.id, field_id: docu.id).any? %>
                          <% create = CreatedField.where(document_id: @document.id, field_id: docu.id).last %>
                          <textarea rows="4" name="<%= docu.name %>" cols="50" id="field<%= docu.id %>"><%= create.content %></textarea>
                          <% else %>
                          <textarea rows="4" name="<%= docu.name %>" cols="50" id="field<%= docu.id %>"></textarea>
                        <% end -%>
                      <% end -%>

                      <script type="text/javascript">
                        $('#field<%= docu.id %>').froalaEditor({
                            height: 200,
                            charCounterCount: false,
                            language: 'es',
                            placeholderText: '<%= docu.name %>'

                        })
                      </script>
                    </div>
                  <% end %>
                <br>
                <div class="col-md-12 no-padding">
                  <%= form.label :header %>
                  <%= form.text_area :header, class: "form form-control" %>
                </div>
                <br>

                <%= tinymce uploadimage: true %>
                <div class="col-md-6 no-padding">
                  <%= form.label "Cambiar Descripcion" %>
                  <%= form.text_area :change_description, :rows => 10, :cols => 130, class: "form form-control tinymce" %>

                </div>
                <%= tinymce %>
                <% elsif  @document.document_source == "Existente" %>
                <div class="row">
                    
                  <div class="col-md-4">
                    <%= form.label "Tipo de Creación" ,style: "display:inline-block"%>
                      <%= form.select 'document_source', options_for_select(select_document_source), {},{:class => 'form form-control document_source'}%>
                  </div>

                  <div class="col-md-4">
                      <label>Cargar Archivo</label>
                      <%= form.file_field :document_file, class: "form form-control"  %>
                  </div>

                  </div>
                  <br>
                <div class="col-md-6 no-padding">
                  <%= form.label "Cambiar Descripcion" %>
                  <%= form.text_area :change_description, class: "tinymce" %>
                </div>
              <% end -%>

              <% end %>
            <br>

            <% if action_name == "new" %>
                <%= form.hidden_field :user_id, :value => current_user.id %>
                <%= form.hidden_field :is_last, :value => true %>
            <% end -%>

            <div class="col-md-12 modal-footer">
              <%= form.submit "Siguiente", class: "btn btn-success", id: "btn-save" %>
              <%= link_to "Volver", documents_path, class: "btn btn-light" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>


  <style type="text/css" media="screen">
    .fr-toolbar{
          border-top: 5px solid #fbcf00 !important;
    }
    #check
    {
          display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 11px;
    position: relative;
    top: 10px;
    }
    .opacidad{
         opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        cursor: default;
    }

  </style>

<script type="text/javascript">
jQuery(document).ready(function($) {

    $(".document_source").change(function() {
    var $input = $( this );

    if ($input.val() == "Existente"){
      console.log('true');
       $(".form-import").fadeIn("show");
    }else {
      $(".form-import").fadeOut("show");
      console.log('false');
    }

  });


    $(document).on('turbolinks:request-end', function() {
  if (tinyMCE) { tinyMCE.remove(); }
});

});



</script>