<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">

        <div class="card-body">
          <h4 class="box-title">Documentos </h4>
        </div>

        <div class="card-body">
          <div class="table-stats order-table ov-h">
            <table class="table table_form ">

              <thead>
                <tr>
                  <th class="serial">#</th>
                  <th>Tipo de Documento</th>
                  <th>Procceso</th>
                  <th class="text-center">¿Es EL Ultimo?</th>
                                        <!--
                  <th class="text-center">Creado</th>
                  <th class="text-center">Estado de Revisado</th>
                  <th class="text-center">Estado de Aprobacion</th>
                  <th>Estado del Documento</th>
                                  -->
                  <th colspan="4">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <% @documents.each_with_index do |document, position| %>
                  <tr>
                    <td class="serial"><%= position + 1 %>.</td>
                      <td><%= document.document_type.name if document.document_type %></td>
                      <td><%= document.proces_id %></td>
                      <td class="text-center"><%= get_last(document.is_last) %></td>
                      <!--
                      <td class="text-center"><%= get_icon(document.finish_document).html_safe %></td>
                      <td class="text-center"><%= get_icon(document.state_review).html_safe %></td>
                      <td class="text-center"><%= get_icon(document.state_aprove).html_safe %></td>
                      <td class="text-center"><%= get_traslate(document.document_state) %></td>
                      -->
                      <td>
                        <%= link_to document, class: "btn", data: {toggle: "tooltip", placement: "bottom" }, title: "Ver Documento" do %>
                          <i class="fas fa-eye"></i>
                        <% end -%>

                        <%= link_to edit_document_path(document), data: {toggle: "tooltip", placement: "bottom" }, title: "Editar", class: "btn" do %>
                          <i class="fas fa-pencil-alt"></i>
                        <% end -%>

                        <a href="/documents/<%= document.id %>" class="btn" data-method="delete" data-toggle="tooltip" data-placement="top" title="Eliminar Documento" data-confirm="Estas Seguro?">
                          <i class="fas fa-trash-alt"></i>
                        </a>

                        <%= link_to pdf_document_path(document.id, :format => "pdf"), data: {toggle: "tooltip", placement: "bottom" }, title: "Generar Pdf", target:"_blank", class: "btn" do %>
                          <i class="fas fa-file-alt"></i>
                        <% end -%>

                        <a data-toggle="tooltip" data-placement="bottom" title="" data-confirm="Estas Seguro?" rel="nofollow" data-method="post" href="/version_document/<%= document.id %>" data-original-title="Duplicar">
                          <i class="fas fa-copy"></i>
                        </a>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 
        </div>

        <div class="col-md-12 modal-footer">
          <%= link_to 'Nuevo Documento', new_document_path, class: "btn btn-success " %>
        </div>
   

      </div> 
    </div>  
  </div>
</div>


<style type="text/css" media="screen">
  .true{
    color: green;
  }

  .false{
    color: red;
  }
</style>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>