
<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      <!--
      <div class="col-md-4 float-right">
        <div class="row text-center">

          <div class="col-md-3 text-center">
            <small><b>Revisado</b></small>
            <i class="fas fa-check true"></i>
          </div>

          <div class="col-md-3 text-center no-padding-right">
            <small><b>Aprobado</b></small>
            <i class="fas fa-check true"></i>
          </div>

          <div class="col-md-3 text-center no-padding-right">
            <button class="btn btn-outline-success"><i class="fas fa-check true"></i></button>
          </div>

        </div>
      </div>
      -->

      <div class="col-md-12 text-right no-padding-right">
        <% if @document.user.id == current_user.id %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"> Mensajes </button>

            <% if get_finish_document(@document.state_review, @document.state_aprove) == true %>
              <button type="button" class="btn btn-outline-success" disabled>Este Documento Fue Aprobado Por Todos</button>
            <% else %>
              <% if @document.finish_document == true %>
                <button type="button" class="btn btn-outline-success" disabled>Pendiente de Aprobación</button>
                <% else %>
                <%= link_to "¿Este Documento Esta Listo Para Revision?", documents_ready_path(@document.id), method: :post, remote: true, class: "btn btn-info " %>
              <% end -%>
            <% end -%>

        <% end %>
      </div>



      <% if @document.user_review.id == current_user.id %>
        <div class="col-md-12 text-right no-padding-left">
          <% if @document.state_review == true %>
            <button type="button" class="btn btn-outline-success" disabled>Revision Aprobada <%= @document.user_review.first_name %></button>
          <% else %>
            <%= link_to "¿Este Documento Esta Listo Para Revision?", document_update_path(@document.id, 2), class: "btn btn-info", method: :patch, remote: true %>
          <% end -%>
        </div>
      <% end -%>

      <% if @document.user_aprove.id == current_user.id %>
        <div class="col-md-12 text-right no-padding-left">
          <% if @document.state_aprove == true %>
            <button type="button" class="btn btn-outline-success" disabled>Aprobastes Este Documento <%= @document.user_aprove.first_name %></button>
          <% else %>
            <%= link_to "¿Este Documento Esta Listo Para Revision?", document_update_path(@document.id, 1), class: "btn btn-info", method: :patch, remote: true %>
          <% end -%>
        </div>
      <% end -%>

      <br>
      <div class="col-md-12 no-padding">
        <%== @document.header%>
      </div>
      <br><br>

      <% @document.created_fields.each do |field|%>

        <%== field.content%>

      <%end%>

      <%== @document.change_description%>

      <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Comentarios
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>
            </div>
            <div class="modal-body">
              <% @comments.each do |comen| %>

                <div class="card">
                  <div class="card-body">
                    <div class="media">
                      <%= comen.user.avatar? ? image_tag(comen.user.avatar.avatar_url(), class: "align-self-center mr-3 rounded-circle height") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "align-self-center mr-3 rounded-circle height")%>
                      <div class="media-body">
                        <h4 class="mt-0"><%= comen.title %></h4>
                        <br>
                        <p><%= comen.description %></p>
                        <div class="col-md-4 float-right no-padding text-right">
                          <small class="text-muted"><%= comen.user.first_name? ? comen.user.first_name : comen.user.email %>  <%= comen.user.first_last_name? ? comen.user.first_last_name : comen.user.email %></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <% end -%>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>


      <%# unless @document.user.id == current_user.id %>
        <!--
        <%# form_tag document_comment_path, method: :post, remote: true do %>
          <%# text_field_tag :title, nil, class: "form form-control", :placeholder => "Titulo" %>
          <br>
          <%# text_area_tag :description, nil, class: "form form-control", :placeholder => "Descripcion", :rows => 6 %>
          <%# hidden_field_tag :document_id, nil, :value => @document.id %>

          <%# if @document.user_review.id == current_user.id %>
            <%# hidden_field_tag :user_id, nil, :value => @document.user_review.id %>
          <%# elsif @document.user_aprove.id == current_user.id %>
            <%# hidden_field_tag :user_id, nil, :value => @document.user_aprove.id %>
          <%# end -%>
          
        <%# end -%>
      -->

      <%# end -%>



      <table class="table" style="margin-top: 40px;">
        <thead class="text-center">
          <tr>
            <th>Creado por </th>
            <th>
              <% if @document.state_review == true %> 
                Revisado
                <% else %>
                Pendiente de Revisar
              <% end -%>
            </th>
            <th>
              <% if @document.state_aprove == true %> 
                Aprobado
                <% else %>
                Pendiente de Aprobar
              <% end -%>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <strong><%= @document.user.first_name? ? @document.user.first_name : @document.user.email %>  <%= @document.user.first_last_name %></strong>
              <p><%= get_date(@document.create_date) %></p>
            </td>

            <td class="text-center">
              <strong><%= @document.user_review.first_name %>  <%= @document.user_review.first_last_name %></strong>
              <% if @document.state_review == true %>
                <p><%= get_date(@document.review_date) %></p>
              <% else %>
                <p>Pendiente de Revisar</p>
              <% end -%>
            </td>

            <td class="text-center">
              <strong><%= @document.user_aprove.first_name %>  <%= @document.user_aprove.first_last_name %></strong>
              <% if @document.state_aprove == true  %>
                <p><%= get_date(@document.aprove_date) %></p>
              <% else %>
                <p>Pendiente de Aprobacion</p>
              <% end -%>
            </td>

          </tr>
        </tbody>
      </table>

      <div class="col-md-12 no-padding">
        <%== @document.footer %>
      </div>

      <div class="col-md-12 modal-footer">
        <% unless @document.user.id == current_user.id %>
          <%= link_to "Comentar", comment_index_path(:commen => @document), class: "btn btn-warning", remote: true %>
        <% end -%>
          <%= link_to 'Volver', documents_path, class: "btn btn-success " %>
      </div>

    </div>
  </div>
</div>

<style type="text/css" media="screen">
  table{
        border: 1px solid #8a87877a;
  }

  table td{
       border: 1px solid #8a87877a;
  }

  td{
        padding: 10px;
  }

  .user{
        height: 148px;
  }

  .height{
    height: 110px;
  }
</style>
