<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
          <p>
            <strong>Header:</strong>
            <%== @document.header%>
          </p>

          <p>
            <strong>Footer:</strong>
            <%== @document.footer %>
          </p>

          <p>
            <strong>Logo:</strong>
            <%= @document.logo %>
          </p>

          <p>
            <strong>Ubication logo:</strong>
            <%= @document.ubication_logo %>
          </p>

          <p>
            <strong>Process:</strong>
            <%= @document.process_id %>
          </p>

          <p>
            <strong>Coding type:</strong>
            <%= @document.coding_type %>
          </p>

          <p>
            <strong>Coding:</strong>
            <%= @document.coding %>
          </p>

          <p>
            <strong>Tipo de Documento:</strong>
            <%= @document.document_type.name  %>
          </p>

          <p>
            <strong>Documento creado por:</strong>
            <%= @document.user.first_name if @document.user%>
          </p>

            <%# @document.user_create_id %>

          <p>
            <strong>Usuario Asignado para Revisar el Documento:</strong>
            <%= @document.user_review.first_name if @document.user_review %>
          </p>

          <p>
            <strong>Usuario Asignado para Aprobar el Documento:</strong>
            <%= @document.user_aprove.first_name if @document.user_aprove  %>
          </p>

          <p>
            <strong>Fecha de Creacion:</strong>
            <%= get_date(@document.created_at)%>
          </p>

          <p>
            <strong>Fecha de Revision:</strong>
            <%= get_date(@document.review_date) %>
          </p>

          <p>
            <strong>Fecha de Aprobación:</strong>
            <%= get_date(@document.aprove_date) %>
          </p>

          <p>
            <strong>Version:</strong>
            <%= @document.version %>
          </p>

          <p>
            <strong>Review:</strong>
            <%= @document.review %>
          </p>

          <p>
            <strong>Is last:</strong>
            <%= @document.is_last %>
          </p>
      <div class="col-md-12 modal-footer">
          <%= link_to 'Volver', documents_path, class: "btn btn-success " %>
      </div>

    </div>
  </div>
</div>

<style type="text/css" media="screen">
  table{
    border: 1px solid red;
  }

  table td{
    border: 1px solid red;
  }
</style>