<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      
      <% if @document.user.id == current_user.id %>
        <div class="col-md-12 text-right no-padding-left">
          <% if @document.finish_document == true %>
              <button type="button" class="btn btn-outline-success" disabled>Pendiente de Aprobación</button>
          <% else %>
            <%= link_to 'Esta listo?', documents_ready_path(@document.id), method: :post, remote: true, class: "btn btn-info " %>
          <% end -%>
        </div>
          <% elsif @document.user_review.id == current_user.id %>
          <div class="col-md-12 text-right no-padding-right">
              <%= link_to "Apruebas Este Documento?", document_update_path(@document.id, 2), class: "btn btn-info", method: :patch, remote: true %>
          </div>
          <% elsif @document.user_aprove.id == current_user.id %>
          <div class="col-md-12 text-right no-padding-right">
              <%= link_to "Apruebas Este Documento?", document_update_path(@document.id, 1), class: "btn btn-info", method: :patch, remote: true %>
          </div>        
      <% end -%>

      <br>
      <div class="col-md-12 no-padding">
        <%== @document.header%>
      </div>
      <br><br>

      <table class="table">
        <thead class="text-center">
          <tr>
            <th>Creado por </th>
            <th>
              <% if @document.state_review == true %> 
                Revisado
                <% else %>
                Pendiente de Revisar
              <% end -%>
            </th>
            <th>
              <% if @document.state_aprove == true %> 
                Aprobado
                <% else %>
                Pendiente de Aprobar
              <% end -%>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <strong><%= @document.user.first_name %> - <%= @document.user.first_last_name %></strong>
              <p><%= get_date(@document.create_date) %></p>
            </td>

            <td class="text-center">
              <strong><%= @document.user_review.first_name %> - <%= @document.user_review.first_last_name %></strong>
              <% if @document.aprove_date.present? %>
                <p><%= get_date(@document.review_date) %></p>
              <% else %>
                <p>Pendiente de Revisar</p>
              <% end -%>
            </td>

            <td class="text-center">
              <strong><%= @document.user_aprove.first_name %> - <%= @document.user_aprove.first_last_name %></strong>
              <% if @document.aprove_date.present? %>
                <p><%= get_date(@document.aprove_date) %></p>
              <% else %>
                <p>Pendiente de Aprobacion</p>
              <% end -%>
            </td>

          </tr>
        </tbody>
      </table>

      <div class="col-md-12 no-padding">
        <%== @document.footer %>
      </div>

      <div class="col-md-12 modal-footer">
          <%= link_to 'Volver', documents_path, class: "btn btn-success " %>
      </div>

    </div>
  </div>
</div>

<style type="text/css" media="screen">
  table{
        border: 1px solid #8a87877a;
  }

  table td{
       border: 1px solid #8a87877a;
  }

  td{
        padding: 10px;
  }

  .user{
        height: 148px;
  }
</style>