<div class="modal1 fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <% if action_name == "new" %>
            Nuevo Proceso
            <% else %>
            Editar Proceso 
          <% end -%>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
      <div class="modal-body">
        <%= form_for(@proces, remote: true) do |form| %>


        <div class="row">
          <div class="col-md-6">
            <%= form.label "Nombre" %>
            <%= form.text_field :name, class: "form form-control" %>
          </div>

          <div class="col-md-6">
            <%= form.label "Tipo de Procceso" %>
            <%= form.select 'proces_type', options_for_select(select_type_proces), {},{:class => 'form form-control'}%>
          </div>
                   <div class="col-md-6">
                    <br>
            <%= form.label "Prefijo" %>
            <%= form.text_field :prefix, class: "form form-control" %>
          </div>
        </div>




        <br>
        <div class="field">
          <%= form.label "Descripcion" %>
          <%= form.text_area :description, class: "form form-control", :rows => 6 %>
        </div>

        <br>
        <%= form.hidden_field :admin_user %>
        <%= form.hidden_field :user_id, :value => current_user.id %>

        <div class="col-md-12 modal-footer">
          <%= form.submit "Guardar", class: "btn btn-success" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
