<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">

        <div class="card-body">
          <h4 class="box-title">Procesos </h4>
        </div>

        <div class="card-body">
          <div class="table-stats order-table ov-h">
            <table class="table table_form ">

              <thead>
                <tr>
                  <th class="serial">#</th>
                  <th class="avatar">Usuario </th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Tipo de Processo</th>
                  <th colspan="3">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <% @proces.each_with_index do |proce, position| %>
                  <tr>
                    <td class="serial"><%= position + 1 %>.</td>
                    <td class="avatar">
                      <div class="round-img">
                        <%= proce.user.avatar? ? image_tag(proce.user.avatar_url(), class: "rounded-circle",id: "user-avatar1") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "rounded-circle")%>
                        </div>
                    </td>
                    <td><%= proce.name %></td>
                    <td><%= proce.description %></td>
                    <td><%= proce.proces_type %></td>
                    <td><%= link_to 'Show', proce %></td>
                    <td><%= link_to 'Edit', edit_proce_path(proce), remote: true %></td>
                    <td><%= link_to 'Destroy', proce, method: :delete, data: { confirm: 'Are you sure?' } %></td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 
        </div>

        <div class="col-md-12 modal-footer">
          <%= link_to 'Nuevo Procceso', new_proce_path, class: "btn btn-success ", remote:true %>
        </div>
   

      </div> 
    </div>  
  </div>
</div>


