
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4" style="margin-top: 40px;">

      <div class="card">
        <div class="card-header">
          <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/430/WhatsApp_Image_2019-04-05_at_11.55.04_AM.jpeg" alt="" class="img-bee"><b class="be">Bee</b><b class="tol">Tools</b>
        </div>
        <div class="card-body" style="border: 1px solid #f1f1f1;">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="col-md-12 no-padding">
                <label>Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form form-control" %>
              </div>

              <%= f.hidden_field :is_account, :value => true %>

              <br>

              <div class="col-md-12 no-padding">
                <label>Contrase単a</label>
                <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Password", class: "form form-control" %>
              </div>

              <br>

              <div class="col-md-12 no-padding">
                  <label>Confirmar Contrase単a</label>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirmar Contrase単a", class: "form form-control" %>
              </div>

              <br>

              <div class="col-md-12 text-center">              
                <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                  多No tienes una cuenta? <br> <%= link_to "Registrarme", new_registration_path(resource_name) %><br />
                <% end %>
              </div>

              <br>

              <div class="col-md-12 modal-footer">
                <%= f.submit "Registrame", class: "btn btn-outline-warning" %>

                <%- if controller_name != 'sessions' %>
                 <%= link_to "Ingresar", new_session_path(resource_name), class: "btn btn-light" %><br />
                <% end %>
              </div>

           <% end -%>
        </div>
      </div>

    </div>
  </div>
</div>

<style type="text/css" media="screen">

  .img-bee{
    border-radius: 50%;
    height: 59px;
  }

  .be{
    color: #f7ac00;
    margin-left: 10px;
    font-size: 24px;
  }

  .tol{
    font-size: 24px;
  }

</style>