<div class="container">
  <div class="row">

    <div class="card col-md-6">
      <div class="card-body">

      <h1>Administre su cuenta de negocios</h1><br>
      <p>Donec dictum nisl nec mi lacinia, sed maximus tellus eleifend. Proin molestie cursus sapien ac eleifend.</p>

      <img src="https://demo.w3layouts.com/demos_new/template_demo/23-02-2019/business_login_form-demo_Free/123711373/web/images/image.jpg" alt="">

      </div>
    </div>

    <div class="card col-md-6" style="background-color: #f5f5f5;">
      <div class="card-body">
        <h1>Registrate</h1><br>
        <p>Ingrese sus datos para iniciar sesión.</p><br>

        <div class="col-md-12 no-padding">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="col-md-12 no-padding">
              <label>Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form form-control" %>
            </div>

            <br>

            <div class="col-md-12 no-padding">
              <label>Contraseña</label>
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Password", class: "form form-control" %>
            </div>

            <br>   

            <div class="col-md-12 no-padding">
                <label>Confirmar Contraseña</label>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirmar Contraseña", class: "form form-control" %>
            </div>


            <br>

            <div class="col-md-12 text-center">
              Al hacer clic en iniciar sesión aceptas nuestros, <a href="" title="" data-toggle="modal" data-target="#exampleModalLong">Términos y condiciones.</a>
              <br><br>

              <%- if controller_name != 'sessions' %>
                 ¿ya tienes una cuenta?  <%= link_to "Ingresa", new_session_path(resource_name) %><br />
              <% end %>

            </div>

            <br>

            <div class="col-md-12 text-center no-padding">
              <%= f.submit "Ingresar", class: "btn btn-outline-success" %>
            </div>

          <% end %>
        </div>

      </div>
    </div>
    
  </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= render "parciales/css_login"%>
