
    <div class="container">
        <div class="card card-container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
                <span id="reauth-email" class="reauth-email"></span>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form form-control" %>
                <br>
                <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Password", class: "form form-control" %>
                <br>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirmar Contraseña", class: "form form-control" %>
                  <br>
                  <%= f.submit "Registrarme", class: "btn btn-lg btn-primary btn-block btn-signin" %>
            </form><!-- /form -->
            <br>
            <div class="col-md-12 text-center">
              <%- if controller_name != 'sessions' %>
                <%= link_to "Ingresar", new_session_path(resource_name) %><br />
              <% end %>
            </div>
            <a href="#" class="forgot-password">
                <%# render "users/shared/links" %>
            </a>
            <% end -%>
        </div><!-- /card-container -->
    </div><!-- /container -->


<%= render "parciales/css_login"%>